.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .App-form {
  min-width: 600px;
  margin: 20px;
} */

.App-Container_Data {
  display: flex;
  justify-content: center;
  margin: 20px;
}